#right-of-board {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22%;
    gap: 5vh;
}

.player-card {
    width: 80%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border: 4px var(--border-color) solid;
    border-radius: 5px;
    gap: 2vh;
}

#player-1 {
    margin-bottom: 34%;
}
form {
    font-family: 'Fira Sans';
    font-size: 25px;
    color: var(--text-color); 
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#profile-button {
    width: 18%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    justify-content: flex-start;
    margin-bottom: 30%;
    margin-right: 2vw;
}

#profile {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    color: var(--border-color)
}

