<!DOCTYPE html>
<html lang="en">

<head>
    <title>chess</title>
    <meta charset="UTF-8">
    <script type="module" src="{{ url_for('static', filename='javascript/startGame.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/buttonListeners.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/boardSetup.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/renderBoard.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/squareHighlight.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/turn.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/getMoves.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/computerMoves.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', filename='javascript/handleEndGame.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/themes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/leftOfBoard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/rightOfBoard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/endOfGame.css') }}">
</head>

<body>

    <div id="left-of-board">
        <h1 id="title">chess</h1>
        <button type="button" class="game-button" id="start-game">start game</button>
        <div id="gameOptions">
            <h3>game options</h3>
            <div class="buttonswName">
            <h4>time</h4>
            <div class="optionButtonContainer">
                <button class="optionsButton time" id="twoThirtyButton">2:30</button>
                <button class="optionsButton time" id="fiveButton">5:00</button>
                <button class="optionsButton time" id="tenButton">10:00</button>
            </div>
            </div>
            <div class="buttonswName">
            <h4>difficulty</h4>
            <div class="optionButtonContainer">
                <button class="optionsButton difficulty" id="easyButton">easy</button>
                <button class="optionsButton difficulty" id="mediumButton">med</button>
                <button class="optionsButton difficulty" id="hardButton">hard</button>
            </div>
            </div>
            <div class="buttonswName">
            <h4>color</h4>
            <div class="optionButtonContainer">
                <button class="optionsButton color" id="whiteButton">white</button>
                <button class="optionsButton color" id="blackButton">black</button>
            </div>
            </div>
        </div>
        <button type="button" class="game-button" id="accountButton">account</button>
        <button type="button" class="game-button" id="themesButton">theme</button>
    </div>
    <div id="themesPopout" style="display: none;">
        <div id="themesPopoutOverlay"></div>
        <div id="themesPopoutContent">
                <button class="multi-color-button" id="default">
                    <span style="background: #304b2e"></span>
                    <span style="background: #4a7446"></span>
                    <span style="background: #a19877"></span>
              </button>
              <button class="multi-color-button" id="black-and-white">
                    <span style="background:rgb(146, 146, 146);"></span>
                    <span style="background:rgb(255, 255, 255);"></span>
                    <span style="background:rgb(63, 63, 63);"></span>
              </button>
              <button class="multi-color-button" id="lavendar-brown">
                    <span style="background:rgb(125, 128, 139);"></span>
                    <span style="background:rgb(69, 73, 109);"></span>
                    <span style="background:rgb(121, 93, 77);"></span>
              </button>
              <button class="multi-color-button" id="pinks">
                    <span style="background:rgb(221, 164, 221);"></span>
                    <span style="background:rgb(240, 111, 245);"></span>
                    <span style="background:rgb(109, 64, 103);"></span>
              </button>
              <button class="multi-color-button" id="bright">
                    <span style="background:rgb(102, 28, 98);"></span>
                    <span style="background:rgb(64, 106, 196);"></span>
                    <span style="background:rgb(196, 199, 52);"></span>
              </button>
              <button class="multi-color-button" id="space">
                    <span style="background:rgb(32, 38, 83);"></span>
                    <span style="background:rgb(206, 147, 214);"></span>
                    <span style="background:rgb(217, 221, 180);"></span>
              </button>
        </div>
    </div>  
    <div id="board">
        <div class="row" id="8">
            <div class="box" id="8a"><img id="8a-img"></div>
            <div class="box" id="8b"><img id="8b-img"></div>
            <div class="box" id="8c"><img id="8c-img"></div>
            <div class="box" id="8d"><img id="8d-img"></div>
            <div class="box" id="8e"><img id="8e-img"></div>
            <div class="box" id="8f"><img id="8f-img"></div>
            <div class="box" id="8g"><img id="8g-img"></div>
            <div class="box" id="8h"><img id="8h-img"></div>
        </div>
        <div class="row" id="7">
            <div class="box" id="7a"><img id="7a-img"></div>
            <div class="box" id="7b"><img id="7b-img"></div>
            <div class="box" id="7c"><img id="7c-img"></div>
            <div class="box" id="7d"><img id="7d-img"></div>
            <div class="box" id="7e"><img id="7e-img"></div>
            <div class="box" id="7f"><img id="7f-img"></div>
            <div class="box" id="7g"><img id="7g-img"></div>
            <div class="box" id="7h"><img id="7h-img"></div>
        </div>    
        <div class="row" id="6">
            <div class="box" id="6a"><img id="6a-img"></div>
            <div class="box" id="6b"><img id="6b-img"></div>
            <div class="box" id="6c"><img id="6c-img"></div>
            <div class="box" id="6d"><img id="6d-img"></div>
            <div class="box" id="6e"><img id="6e-img"></div>
            <div class="box" id="6f"><img id="6f-img"></div>
            <div class="box" id="6g"><img id="6g-img"></div>
            <div class="box" id="6h"><img id="6h-img"></div>
        </div>    
        <div class="row" id="5">
            <div class="box" id="5a"><img id="5a-img"></div>
            <div class="box" id="5b"><img id="5b-img"></div>
            <div class="box" id="5c"><img id="5c-img"></div>
            <div class="box" id="5d"><img id="5d-img"></div>
            <div class="box" id="5e"><img id="5e-img"></div>
            <div class="box" id="5f"><img id="5f-img"></div>
            <div class="box" id="5g"><img id="5g-img"></div>
            <div class="box" id="5h"><img id="5h-img"></div>
        </div>    
        <div class="row" id="4">
            <div class="box" id="4a"><img id="4a-img"></div>
            <div class="box" id="4b"><img id="4b-img"></div>
            <div class="box" id="4c"><img id="4c-img"></div>
            <div class="box" id="4d"><img id="4d-img"></div>
            <div class="box" id="4e"><img id="4e-img"></div>
            <div class="box" id="4f"><img id="4f-img"></div>
            <div class="box" id="4g"><img id="4g-img"></div>
            <div class="box" id="4h"><img id="4h-img"></div>
        </div>    
        <div class="row" id="3">
            <div class="box" id="3a"><img id="3a-img"></div>
            <div class="box" id="3b"><img id="3b-img"></div>
            <div class="box" id="3c"><img id="3c-img"></div>
            <div class="box" id="3d"><img id="3d-img"></div>
            <div class="box" id="3e"><img id="3e-img"></div>
            <div class="box" id="3f"><img id="3f-img"></div>
            <div class="box" id="3g"><img id="3g-img"></div>
            <div class="box" id="3h"><img id="3h-img"></div>
        </div>    
        <div class="row" id="2">
            <div class="box" id="2a"><img id="2a-img"></div>
            <div class="box" id="2b"><img id="2b-img"></div>
            <div class="box" id="2c"><img id="2c-img"></div>
            <div class="box" id="2d"><img id="2d-img"></div>
            <div class="box" id="2e"><img id="2e-img"></div>
            <div class="box" id="2f"><img id="2f-img"></div>
            <div class="box" id="2g"><img id="2g-img"></div>
            <div class="box" id="2h"><img id="2h-img"></div>
        </div>    
        <div class="row" id="1">
            <div class="box" id="1a"><img id="1a-img"></div>
            <div class="box" id="1b"><img id="1b-img"></div>
            <div class="box" id="1c"><img id="1c-img"></div>
            <div class="box" id="1d"><img id="1d-img"></div>
            <div class="box" id="1e"><img id="1e-img"></div>
            <div class="box" id="1f"><img id="1f-img"></div>
            <div class="box" id="1g"><img id="1g-img"></div>
            <div class="box" id="1h"><img id="1h-img"></div>
        </div>    
    </div>        
    <div id="right-of-board">
            <div class="player-card" id="player-2">
                <h3 id="player-2-username">computer</h3>
                <h4 class="time" id="player-2-time">5:00</h4>
            </div>   
            <div id="versus">
                <h3>---- vs ----</h3>
            </div>
            <div class="player-card" id="player-1">
                <form id="player-1-username">user</form>
                <h4 class="time" id="player-1-time">5:00</h4>
            </div>
    </div>

    <div id="endGameCard" style="display: none;">
        <div id="endGameCardContent">
            <h3 id="player-1-username">user</h3>
            <h3 id="gameResults"></h2>
        </div>
    </div>

</body>  

</html>
